.searchform {
  margin: 0px 70px;
  max-width: 1140px;
}

.searchform__decorator {
  position: relative;
  transform: translateY(61px);
  height: 72px;
  width: 100%;
  max-width: 1140px;
  background-color: #F4F4F4;
  border-radius: 9px;
}

.searchform__icon {
  position: absolute;
  top: 19px;
  left: 19px;
}

.searchform__form {
  display: grid;
  grid-template-columns: 1fr 1px 197px;
  column-gap: 30px;
  align-items: center;
  margin: 0 0 80px 63px;
}

.searchform__bar {
  display: flex;
  position: relative;
  height: 48px;
}

.searchform__input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: #F4F4F4 1px solid;
  /*border-radius: 24px;*/
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  max-width: 790px;
  background: #F4F4F4;
}

.searchform__input:focus {
  outline: none;
}

.searchform__input:active {
  color: #A0A0A0;
}

.searchform__submit-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  background: url('../../images/search-btn.svg');
  height: 34px;
  width: 34px;
  border: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.searchform__submit-btn:focus {
  outline: none;
}

.searchform__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.searchform__vertical-separator {
  height: 40px;
  width: 1px;
  background-color: #E8E8E8;
  z-index: 11;
}

.searchform__separator {
  width: 100%;
  height: 1px;
  background-color: #E8E8E8;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  .searchform {
    margin: 0 30px;
  }
}

@media (max-width: 720px) {
  .searchform__decorator {
    transform: translateY(80px);
  }

  .searchform__form {
    grid-template-columns: 1fr;
    row-gap: 46px;
    margin: 20px 19px 57px;
  }

  .searchform__vertical-separator {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

@media (max-width: 480px) {
  .searchform {
    margin: 0 10px;
  }

  .searchform__form {
    grid-template-columns: 1fr;
    margin: 20px 10px 109px;
  }
}
