.navigation-login {
  display: flex;
  justify-content: flex-end;
}

.navigation-login__menu {
  display: none;
  transition: opacity 0.3s linear;
}

.navigation-login__menu:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navigation-login__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  margin-left: 30px;
  color: #000;
  transition: opacity 0.3s linear;
}

.navigation-login__btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navigation-login__btn_oval {
  align-self: center;
  height: 32px;
  width: 100px;
  background: #F5F5F5;
  border-radius: 20px;
}

.navigation-login__btn_thin {
  font-weight: 400;
}

.navigation-login__btn_white {
  color: #fff;
}

.navigation-login__btn_transparent {
  background-color: transparent;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .navigation-login__btn {
    display: none;
  }

  .navigation-login__menu{
    display: flex;
    width: 44px;
    height: 44px;
    border: none;
    background: url('../../images/menu_icon_black.svg');
  }

  .navigation-login__menu_white {
    background: url('../../images/menu_icon_white.svg');
  }
}
